/*	GothamPro Bold */

@font-face {
    font-family: GothamPro;
    src: url('/fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
    url('/fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format("embedded-opentype"),
    url('/fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
    url('/fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),
    url('/fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: 700;
}

/*	GothamPro Regular */

@font-face {
    font-family: GothamPro;
    src: url('/fonts/GothamPro-Regular/GothamPro-Regular.eot?') format('eot'),
    url('/fonts/GothamPro-Regular/GothamPro-Regular.eot?#iefix') format("embedded-opentype"),
    url('/fonts/GothamPro-Regular/GothamPro-Regular.woff') format('woff'),
    url('/fonts/GothamPro-Regular/GothamPro-Regular.ttf') format('truetype'),
    url('/fonts/GothamPro-Regular/GothamPro-Regular.svg#GothamPro-Regular') format('svg');
    font-weight: 400;
}

/*	Roboto Regular */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular/Roboto-Regular.eot?') format('eot'),
    url('/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format("embedded-opentype"),
    url('/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
    url('/fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
}

/*	Roboto Bold */

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Bold/Roboto-Bold.eot?') format('eot'),
    url('/fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format("embedded-opentype"),
    url('/fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('/fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
    url('/fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
}

ul, ol {
    padding: 0;
    margin: 0;
}

* {
    outline: 0 !important;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4 {
    line-height: normal;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

body {
    line-height: normal;
    height: 100%;
    background-color: #fff;
    font-family: Roboto;
    font-weight: 400;
    color: #303030;
}

.container {
    width: 1200px;
    max-width: 1200px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}