@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(reset_fonts.css);
a,
input[type='submit'] {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer; }

.content {
  background: #ff2f1a url("/images/body_bg.png") top center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }

header {
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 18px 68px 5px rgba(0, 0, 0, 0.2); }
  header a.header-logo {
    max-width: 100%;
    display: block; }
    header a.header-logo img {
      -o-object-fit: cover;
      object-fit: cover; }
  header .header-search-login {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header .header-search-login .search-input {
      position: relative;
      margin-right: 15px; }
      header .header-search-login .search-input svg {
        position: absolute;
        left: 7px;
        top: 7px;
        width: 15px;
        height: 15px;
        fill: #ff3221; }
      header .header-search-login .search-input input {
        background: #ffffff;
        padding: 5px 10px 5px 35px;
        -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        border: 0;
        width: 170px;
        font-size: 14px;
        color: #000000; }
    header .header-search-login .login {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      padding: 5px 10px 5px;
      -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
      border: 0;
      width: 100px;
      font-size: 14px;
      color: #000000;
      cursor: pointer; }
      header .header-search-login .login svg {
        width: 15px;
        height: 15px;
        fill: #ff3221;
        margin-right: 10px; }
    header .header-search-login .login.user {
      position: relative; }
      header .header-search-login .login.user:after {
        content: "";
        border: 5px solid transparent;
        border-top: 7px solid #ff3221;
        margin-top: 5px; }
      header .header-search-login .login.user .user-menu {
        display: none;
        flex-direction: column;
        width: 215px;
        background-color: #ffffff;
        -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        padding: 15px;
        position: absolute;
        top: 160%;
        right: 0;
        z-index: 99; }
        header .header-search-login .login.user .user-menu .user-menu__user-img {
          align-self: center;
          width: 100px;
          height: 100px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 2px solid #ff3221;
          background-color: #f6f6f2;
          display: inline-flex;
          justify-content: center;
          align-items: flex-end;
          margin: 5px 0 15px; }
          header .header-search-login .login.user .user-menu .user-menu__user-img img {
            width: 80%;
            height: 80%;
            -webkit-background-size: cover;
            background-size: cover;
            -webkit-border-radius: 40%;
            -moz-border-radius: 40%;
            border-radius: 40%; }
        header .header-search-login .login.user .user-menu .user-menu__user-name {
          padding: 10px 0; }
          header .header-search-login .login.user .user-menu .user-menu__user-name p.name {
            font-size: 18px; }
          header .header-search-login .login.user .user-menu .user-menu__user-name p.surname,
          header .header-search-login .login.user .user-menu .user-menu__user-name p.email {
            font-size: 16px; }
        header .header-search-login .login.user .user-menu .user-menu__nav p {
          border-top: 1px solid #bababa;
          padding: 10px 0; }
          header .header-search-login .login.user .user-menu .user-menu__nav p:last-child {
            padding-bottom: 0; }
          header .header-search-login .login.user .user-menu .user-menu__nav p span {
            font-size: 16px;
            display: block; }
          header .header-search-login .login.user .user-menu .user-menu__nav p a {
            font-size: 18px;
            color: #303030; }
            header .header-search-login .login.user .user-menu .user-menu__nav p a svg {
              width: 13px;
              height: 13px;
              fill: #ff3221;
              margin-right: 5px; }
      header .header-search-login .login.user.active .user-menu {
        display: flex; }

.breadcrumbs {
  padding: 30px 0; }
  .breadcrumbs .breadcrumbs__block {
    display: flex;
    align-items: center; }
    .breadcrumbs .breadcrumbs__block .breadcrumbs__block-user {
      font-size: 14px;
      color: #000000;
      position: relative;
      margin-right: 4px; }
      .breadcrumbs .breadcrumbs__block .breadcrumbs__block-user:after {
        position: absolute;
        content: "";
        bottom: -3px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #ff3221; }
    .breadcrumbs .breadcrumbs__block span {
      font-size: 14px;
      color: #000000;
      margin-right: 7px; }
    .breadcrumbs .breadcrumbs__block .home {
      display: inline-flex;
      align-self: center; }
      .breadcrumbs .breadcrumbs__block .home svg {
        width: 13px;
        height: 13px;
        fill: #ff3221; }

.main-content {
  overflow-x: hidden; }
  .main-content .aside-menu {
    margin: 45px 0; }
    .main-content .aside-menu .aside-menu-block {
      display: flex;
      flex-direction: column; }
      .main-content .aside-menu .aside-menu-block p {
        display: inline-flex;
        background-color: #ff3221;
        color: #ffffff;
        font-family: GothamPro;
        font-weight: 700;
        font-size: 22px;
        padding: 9px 15px 9px 0;
        position: relative;
        width: 150px;
        margin: 10px 0; }
        .main-content .aside-menu .aside-menu-block p:before {
          position: absolute;
          content: "";
          width: 300%;
          height: 100%;
          left: -300%;
          top: 0;
          background-color: #ff3221; }
      .main-content .aside-menu .aside-menu-block a {
        margin-left: 25px;
        padding: 5px 15px;
        font-weight: 700;
        font-size: 17px;
        position: relative;
        color: #303030;
        align-self: flex-start; }
        .main-content .aside-menu .aside-menu-block a:after {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          background-color: #ff3221;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
  .main-content .main-content-block {
    border: 1px dashed #ff3221;
    margin: 55px 0;
    padding: 30px;
    background-color: rgba(239, 239, 239, 0.8);
    min-height: 600px; }
    .main-content .main-content-block p {
      font-size: 16px;
      line-height: 22px;
      padding: 12px 0; }
    .main-content .main-content-block a {
      position: relative;
      color: #ff3221;
      opacity: 1;
      font-size: 16px; }
      .main-content .main-content-block a:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #ff3221;
        opacity: 1; }
      .main-content .main-content-block a:hover::after {
        opacity: 0.7; }
      .main-content .main-content-block a:hover {
        opacity: 0.7; }
    .main-content .main-content-block a.video-link {
      font-size: 16px;
      position: relative;
      color: #303030;
      opacity: 0.7; }
      .main-content .main-content-block a.video-link:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #ff3221;
        opacity: 0.7; }
      .main-content .main-content-block a.video-link:hover::after {
        opacity: 1; }
      .main-content .main-content-block a.video-link:hover {
        opacity: 1; }
    .main-content .main-content-block hr {
      border-top: 3px solid #cdcdcd;
      margin: 0 auto; }
    .main-content .main-content-block .main-content-block__wide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 25px;
      border-bottom: 3px solid #cdcdcd; }
      .main-content .main-content-block .main-content-block__wide a.page-title {
        font-family: GothamPro;
        font-weight: 700;
        color: #ff3221;
        font-size: 43px;
        position: static;
        opacity: 1; }
        .main-content .main-content-block .main-content-block__wide a.page-title:after {
          display: none; }
        .main-content .main-content-block .main-content-block__wide a.page-title svg {
          width: 26px;
          height: 26px;
          fill: #ff3221;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
          opacity: 0.2; }
        .main-content .main-content-block .main-content-block__wide a.page-title:hover svg {
          opacity: 1; }
      .main-content .main-content-block .main-content-block__wide .menu-content {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        padding: 7px 0 7px;
        -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
        border: 0;
        width: 60px;
        font-size: 14px;
        color: #000000;
        position: relative;
        cursor: pointer; }
        .main-content .main-content-block .main-content-block__wide .menu-content:after {
          content: "";
          border: 5px solid transparent;
          border-top: 7px solid #ff3221;
          margin-top: 5px; }
        .main-content .main-content-block .main-content-block__wide .menu-content:before {
          position: absolute;
          content: "Содержание";
          width: 190px;
          top: 0;
          left: -316%;
          display: none;
          background: #ffffff;
          padding: 8px 0 8px 15px;
          -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
          font-family: GothamPro;
          font-weight: 400;
          color: #303030;
          font-size: 13px; }
        .main-content .main-content-block .main-content-block__wide .menu-content svg {
          width: 15px;
          height: 15px;
          fill: #ff3221;
          margin-right: 5px; }
        .main-content .main-content-block .main-content-block__wide .menu-content .menu-content__block {
          display: none;
          flex-direction: column;
          background-color: #ffffff;
          -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
          padding: 15px;
          position: absolute;
          top: 100%;
          right: 0;
          z-index: 90;
          width: 250px; }
          .main-content .main-content-block .main-content-block__wide .menu-content .menu-content__block a {
            font-family: GothamPro;
            font-size: 13px;
            font-weight: 400;
            color: #303030;
            padding: 3px 0 3px 10px;
            position: static;
            opacity: 1; }
            .main-content .main-content-block .main-content-block__wide .menu-content .menu-content__block a.menu-content__block_page-link {
              color: #ff3221;
              font-weight: 700;
              padding-left: 0; }
            .main-content .main-content-block .main-content-block__wide .menu-content .menu-content__block a:after {
              display: none; }
        .main-content .main-content-block .main-content-block__wide .menu-content.active .menu-content__block {
          display: flex; }
        .main-content .main-content-block .main-content-block__wide .menu-content.active:before {
          display: inline-flex; }
    .main-content .main-content-block .text {
      padding: 10px 0; }
    .main-content .main-content-block p.title {
      font-family: GothamPro;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: #ff3221;
      padding: 10px 0 0; }
    .main-content .main-content-block p.little-title {
      font-family: GothamPro;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #ff3221; }
    .main-content .main-content-block ul {
      padding-left: 20px; }
      .main-content .main-content-block ul li {
        background: url("/images/check.svg") no-repeat;
        -webkit-background-size: 12px 15px;
        background-size: 12px 15px;
        background-position: 0 8px;
        font-size: 16px;
        line-height: 22px;
        padding: 3px 0 3px 20px; }
    .main-content .main-content-block ol {
      padding-left: 20px; }
    .main-content .main-content-block ol > li {
      list-style-type: decimal;
      font-size: 16px;
      line-height: 22px;
      padding: 3px 0 3px 0; }
    .main-content .main-content-block ol ul {
      padding-top: 8px; }
    .main-content .main-content-block pre {
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #ff3221;
      font-size: 13px;
      color: #303030;
      min-height: 100px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      margin-top: 20px; }
    .main-content .main-content-block .in-this-section {
      display: flex;
      padding: 25px 100px 0; }
      .main-content .main-content-block .in-this-section ul:last-child {
        margin-left: 70px; }
      .main-content .main-content-block .in-this-section ul li {
        position: relative;
        font-size: 16px;
        line-height: 22px;
        padding: 3px 0 3px 15px;
        background: none; }
        .main-content .main-content-block .in-this-section ul li:after {
          position: absolute;
          content: "";
          background-color: #ff3221;
          width: 7px;
          height: 7px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
    .main-content .main-content-block .main-content-block__wide_service-title {
      padding: 25px 0 10px;
      border-bottom: 3px solid #cdcdcd;
      display: flex; }
      .main-content .main-content-block .main-content-block__wide_service-title a.service-title {
        font-family: GothamPro;
        font-weight: 400;
        color: #ff3221;
        font-size: 43px;
        position: static;
        opacity: 1; }
        .main-content .main-content-block .main-content-block__wide_service-title a.service-title:after {
          display: none; }
        .main-content .main-content-block .main-content-block__wide_service-title a.service-title svg {
          width: 26px;
          height: 26px;
          fill: #ff3221;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
          opacity: 0.2; }
        .main-content .main-content-block .main-content-block__wide_service-title a.service-title:hover svg {
          opacity: 1; }
    .main-content .main-content-block .video-page {
      display: flex; }
      .main-content .main-content-block .video-page .video-page__text-block {
        width: 470px; }
      .main-content .main-content-block .video-page .video-page__video-block {
        width: 300px;
        margin-left: 30px;
        text-align: center;
        margin-top: 60px; }
        .main-content .main-content-block .video-page .video-page__video-block iframe {
          width: 100%;
          height: auto;
          display: inline-block;
          margin: 0 auto; }
    .main-content .main-content-block .admin_table {
      font-size: 17px;
      margin-top: 18px; }
      .main-content .main-content-block .admin_table table {
        width: 100%; }
        .main-content .main-content-block .admin_table table td {
          border-bottom: 3px solid #cdcdcd;
          border-right: 3px solid #cdcdcd; }
          .main-content .main-content-block .admin_table table td:last-child {
            border-right: 0; }
          .main-content .main-content-block .admin_table table td p {
            padding: 5px 10px; }
          .main-content .main-content-block .admin_table table td a {
            margin: 5px 10px; }
        .main-content .main-content-block .admin_table table th {
          border-bottom: 3px solid #cdcdcd;
          border-right: 3px solid #cdcdcd; }
          .main-content .main-content-block .admin_table table th:last-child {
            border-right: 0; }
          .main-content .main-content-block .admin_table table th p {
            padding: 5px 10px;
            text-align: center;
            line-height: 17px;
            font-weight: 700; }
        .main-content .main-content-block .admin_table table tr:last-child td {
          border-bottom: 0; }
        .main-content .main-content-block .admin_table table p.lattice {
          font-size: 27px; }
    .main-content .main-content-block .functions {
      display: flex;
      position: relative;
      margin-top: 35px; }
      .main-content .main-content-block .functions.text {
        padding-top: 0; }
      .main-content .main-content-block .functions:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
        height: 100%;
        width: 3px;
        background-color: #cdcdcd; }
      .main-content .main-content-block .functions .functions-block {
        display: flex;
        flex-direction: column;
        width: 50%; }
        .main-content .main-content-block .functions .functions-block:nth-child(even) {
          margin-left: 30px; }
        .main-content .main-content-block .functions .functions-block:nth-child(odd) {
          margin-right: 30px; }
        .main-content .main-content-block .functions .functions-block div {
          border-bottom: 3px solid #cdcdcd;
          padding: 7px 0; }
          .main-content .main-content-block .functions .functions-block div p {
            padding: 0; }
          .main-content .main-content-block .functions .functions-block div:first-child {
            padding-top: 0; }
    .main-content .main-content-block .function-item.admin_table {
      margin-top: 50px; }
      .main-content .main-content-block .function-item.admin_table p {
        text-align: center; }

.login-page__page-name {
  display: inline-flex;
  align-items: center;
  background-color: #ff3221;
  color: #ffffff;
  font-family: GothamPro;
  font-weight: 700;
  font-size: 30px;
  padding: 5px 15px 5px 0;
  position: relative;
  min-width: 300px; }
  .login-page__page-name:before {
    position: absolute;
    content: "";
    width: 300%;
    height: 100%;
    left: -300%;
    top: 0;
    background-color: #ff3221; }
  .login-page__page-name svg {
    width: 29px;
    height: 24px;
    fill: #ffffff;
    margin: 0 20px 0 26px; }
.login-page hr {
  margin: 12px auto;
  border-top: 3px solid #cdcdcd; }
.login-page .text p {
  padding-left: 20px;
  font-family: GothamPro;
  font-weight: 400;
  font-size: 14px;
  color: #303030; }
.login-page .login-page__form {
  width: 340px;
  margin: 30px auto 0; }
  .login-page .login-page__form p.name {
    font-family: GothamPro;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #ff3221;
    position: relative;
    padding-bottom: 7px;
    text-align: center; }
    .login-page .login-page__form p.name:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: #cdcdcd; }
  .login-page .login-page__form input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ff3221;
    padding: 15px 15px;
    -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    border: 0;
    width: 255px;
    font-size: 20px;
    color: #ffffff;
    margin: 8px auto; }
    .login-page .login-page__form input::-webkit-input-placeholder {
      color: #ffffff; }
    .login-page .login-page__form input:-moz-placeholder {
      color: #ffffff; }
    .login-page .login-page__form input::-moz-placeholder {
      color: #ffffff; }
    .login-page .login-page__form input:-ms-input-placeholder {
      color: #ffffff; }
  .login-page .login-page__form .tac {
    text-align: center;
    position: relative;
    padding: 10px 0; }
  .login-page .login-page__form .login-page__submit-wrapper {
    background-color: #f6f5f5;
    position: absolute;
    right: 3px;
    top: 48px;
    padding: 10px;
    width: 70px;
    height: 70px; }
    .login-page .login-page__form .login-page__submit-wrapper input[type='submit'] {
      font-size: 0;
      background: url("/images/submit_arrow.png") no-repeat center;
      -webkit-background-size: 28px 24px;
      background-size: 28px 24px;
      background-color: #ff3221;
      width: 48px;
      height: 48px;
      margin: 0; }
  .login-page .login-page__form .login-page__checkblock {
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-page .login-page__form .login-page__checkblock input {
      width: 15px;
      height: 15px;
      border: 0;
      box-shadow: none;
      padding: 0;
      margin: 0 7px 0 0; }
    .login-page .login-page__form .login-page__checkblock span {
      font-weight: 400;
      font-size: 16px;
      color: #303030;
      line-height: 30px; }

footer {
  padding: 5px 0;
  background-color: #ff3221; }
  footer .changes {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    text-align: right; }

/*# sourceMappingURL=style.css.map */
